.btn-submit {
    background: #000000;
    padding : 18px 24px;
    border-radius: 10px;
    color : #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.active-btn-nav {
    background: black;
    color : white;
    border-radius : 9999px;
    padding: 2.5px 1.25rem;
    

    
}