@tailwind base;
@tailwind components;
@tailwind utilities;


@import './base/typography.scss';
@import './components/button.scss';
@import './components/form.scss';
@import './components/item.scss';


@import './layout/grid.scss';
@import './layout/flex.scss';
@import './page/about.scss';
@import './page/course.scss';
@import './page/contact.scss';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  font-family: 'Poppins';font-size: 22px;
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container-s {
  width: 1239px ;
  padding:   1rem;
}
.container-fluid {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
